@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos a JN Soluções em TI</h1>
    <p>Veja este código no git<a href="">building Web apps with ASP.NET Core</a>.</p>
</div>
