@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos a JN Soluções em TI</h1>
    <p>Veja este código no Git <a href="https://github.com/jeffersonsavidotti/FolhaDePagamento">Projeto Folha de Pagamento v1</a>.</p>
</div>
